body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	margin: auto;
	padding: 2rem;
	background-color: #121212;
	color: white;
	text-align: center;
}

.card {
	background-color: rgba(255, 255, 255, 0.03);
	padding: 30px;
	border: thin solid rgba(255, 255, 255, 0.15);
	border-radius: 1em;
	width: 30vh;
	margin-bottom: 1em;
}
